html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(246, 247, 248);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blog-title:hover {
  color: #3B82F6;
}
.gradient-border {
  height: 1px;
  margin: 40px 0px 0px;
  border: 0px none;
  background-image: linear-gradient(90deg,transparent,#0606061c,transparent);
}

.markdowncss img {
  width: 700px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

@media (max-width: 600px) {
  .markdowncss img {
    width: 550px;
  } 
}

@media (max-width: 500px) {
  .markdowncss img {
    width: 450px;
  } 
}

@media (max-width: 400px) {
  .markdowncss img {
    width: 320px;
  } 
}